.button {
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #ffffff, rgba(255, 254, 255, 0.562));
  cursor: pointer;
  transition: all 0.3s ease; /* A transição suave para todas as propriedades */
  font-size: 25px;
  width: 40%;
  border: 2px solid white;
  color: #000;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 40px;
}
.button:hover{
  transform: scale(1.1);
  
}

/* Estilo ao clicar no botão */

.button:active {
  color: black;
  transform: scale(0.95); /* Diminui o botão enquanto ele é pressionado */
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease; /* Transição suave para o movimento */
}

/* Adicionando a classe "moved" quando o botão for clicado */
/* .button.moved { */
  /* background: linear-gradient(to right, #dd04e4a9, rgba(30, 1, 215, 0.685)); */
  /* color: black; */
  /* transform: translateX(150%); Move o botão para a direita ao ser clicado */
  /* transition: transform 0.5s ease, background-color 0.3s ease; Ajusta a transição do movimento e da cor */
  /* border: none; */
/* } */
