.ScreenTotal {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(36, 3, 219, 0.911), #dc04e4);
}

.ScreenLeft {
  display: flex;
  flex-direction: column;
  width: 32%; /* 30% da largura da tela */
  height: 100vh; /* 100% da altura da tela */
  overflow: hidden; /* Impede que a rolagem apareça */
  box-sizing: border-box; /* Inclui o padding e border no cálculo do tamanho */
  padding: 10px;
}

.ScreenLeft > * {
  flex-shrink: 0; /* Impede que os filhos encolham */
  flex-grow: 1; /* Faz com que os filhos ocupem o espaço disponível */
}

.Screenright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TypeRead {
  display: flex;
  flex-direction: row;
  margin-right: 60%;
}
